{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": "airbnb",
  "rules": {
    "no-console": 0,
    "comma-dangle": ["warn", "never"],
    "arrow-body-style": ["warn", "as-needed"]
  },
  "plugins": ["html"]
}
